.container {
  margin-bottom: 50px;
}

.shadow {
  box-shadow: 5px 5px 10px lightgray;
}

.carousel-item, .smartphones, .laptops, .categories {
  padding: .5rem 1rem;
}

.link-btn {
  border: none;
  background-color: #000000;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 8px;
  text-transform: uppercase;
}

.header {
  margin-bottom: 30px;
}

.header h3 {
  font-weight: 600;
}

.card {
  border: none;
  box-shadow: 5px 5px 10px lightgray;
  text-align: center;
  padding: 1rem 0rem;
}

.card-title {
  font-weight: bold;
}

.card-test {
  color: gray;
}

.card-footer {
  background-color: #ffffff;
  border-top: none;
  margin-top: 20px;
}

.card-price {
  margin-bottom: 20px;
}

.categories .header h3 {
  position: relative;
}

.categories .header h3::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 4px;
  background-color: hotpink;

}